@*
  Copyright (c) 2025 Codefrog
  Business Source License 1.1 – see LICENSE.txt for details.
  Change Date: 2029-07-01   Change License: Apache-2.0
*@

@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>